@font-face {
    font-family: neue;
    src: url(./Helvetica\ Neue\ Medium\ Extended.otf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: neue;
}

body {
    background-color: #e7e5e5;
}

header {
    text-align: center;
}

header h1 {
    background: -webkit-linear-gradient(45deg, #48557f, #779eba);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: neue;
    height: 4rem;
    font-size: 3rem;
}

main {
    /* border: 1px solid salmon; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 4px;
    padding: 4px;
}

main > div {
    height: 200px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    background: -webkit-linear-gradient(45deg, #48557f, #779eba);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    cursor: default;
    color: #779eba;
}

main > div  {
    border: 1px solid #48557f;
}

main > div > p {
    display: grid;
    padding: 8px;
    text-align: center;
}

.book .title {
    /* border: 1px solid rebeccapurple; */
    grid-column: 2 / -2;
    align-items: end;
    justify-content: center;
    text-decoration: underline;
}

.book .delete {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    color: red;
    background-color: rgba(0, 0, 0, 0);
    justify-self: end;
    align-self: start;
    padding-inline: 4px;
    font-size: 1.5rem;
}

.book .author {
    /* border: 1px solid firebrick; */
    grid-column: 2 / -2;
    place-items: center;
}

.book .pages {
    /* border: 1px solid slategrey; */
    grid-column: 2 / span 6;
    justify-content: start;
    align-items: center;
}

.book .status {
    /* border: 1px solid forestgreen; */
    grid-column: 8 / span 6;
    justify-content: end;
    align-items: center;
}
