@font-face {
    font-family: neue;
    src: url(./Helvetica\ Neue\ Medium\ Extended.otf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: neue;
}

body {
    background-color: #e9e8e4;
}

header {padding: 1px;}

header h1 {
    background: -webkit-linear-gradient(0deg, #4d5b82, #7094a5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: neue;
    height: 3rem;
    font-size: 2.5rem;
    margin-bottom: 0;
}

main {
    /* border: 1px solid salmon; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 4px;
    padding: 4px;
}

main > div {
    height: 240px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    /* background: -webkit-linear-gradient(45deg, #48557f, #7094a5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #779eba; */
    background-image: linear-gradient(90deg, #4d5b82, #7094a5);
    font-weight: 600;
    cursor: default;
    color: #e9e8e4;
}

main > div > p {
    display: grid;
    text-align: center;
}

.book .title {
    /* border: 1px solid rebeccapurple; */
    grid-column: 2 / -2;
    align-items: end;
    justify-content: center;
    text-decoration: underline;
}

.book .delete {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background: -webkit-linear-gradient(0deg, #851e3a, #d34a58);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-self: end;
    align-self: start;
    padding-inline: 6px;
    font-size: 1.3rem;
}

.book .author {
    /* border: 1px solid firebrick; */
    grid-column: 2 / -2;
    align-items: center;
}

.book .pages {
    /* border: 1px solid slategrey; */
    grid-column: 2 / span 6;
    justify-content: start;
    align-items: center;
}

.book .status {
    /* border: 1px solid forestgreen; */
    grid-column: 8 / span 6;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}

.book .status:hover {
    color: #ffffff;
}

/* Add new book */
.add-new {
    /* border: 1px solid sandybrown; */
    display: grid;
    grid-template-columns: 1fr;
    padding-block: 8px;
}

.book-form {
    /* border: 1px solid slateblue; */
    display: grid;
}

.form-group {
    /* border: 1px solid sienna; */
    display: grid;
    place-items: center;
}

.add-book-submit {
    color: #e9e8e4;
    background-color: #7094a5;
    border: 1px solid #e9e8e4;
    cursor: pointer;
    padding-block: 4px;
    padding-inline: 8px;
    margin-top: 8px;
}

.add-book-submit:active {transform: scale(99%);}

input {
    padding-inline: 4px;
    background-color: #e9e8e4;
    border: none;
}

select {
    color: #4a344b;
}

input,
select,
label {font-size: 0.9rem;}

/* set style for changing status */
.container-relative {
    position: relative;
}

.selection {
    position: absolute;
    bottom: 20px;
    right: 26px;
    cursor: pointer;
}

.selection p:hover {
    color: #8f2259;
}

.status-hide {
    display: none;
}

.selection-hide {
    display: none;
}