@font-face {
    font-family: neue;
    src: url(./Helvetica\ Neue\ Medium\ Extended.otf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: neue;
}

body {
    background-color: #e7e5e5;
}

header {
    text-align: center;
}

header h1 {
    background: -webkit-linear-gradient(0deg, #4d5b82, #739eb9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: neue;
    height: 4rem;
    font-size: 3rem;
}

main {
    /* border: 1px solid salmon; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 4px;
    padding: 4px;
}

main > div {
    height: 240px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    /* background: -webkit-linear-gradient(45deg, #48557f, #739eb9);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #779eba; */
    background-image: linear-gradient(90deg, #4d5b82, #739eb9);
    font-weight: 600;
    cursor: default;
    color: #e7e5e5;
}

main > div > p {
    display: grid;
    padding: 8px;
    text-align: center;
}

.book .title {
    /* border: 1px solid rebeccapurple; */
    grid-column: 2 / -2;
    align-items: end;
    justify-content: center;
    text-decoration: underline;
}

.book .delete {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background: -webkit-linear-gradient(0deg, #581829, #912933);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-self: end;
    align-self: start;
    padding-inline: 6px;
    font-size: 1.3rem;
}

.book .author {
    /* border: 1px solid firebrick; */
    grid-column: 2 / -2;
    align-items: start;
}

.book .pages {
    /* border: 1px solid slategrey; */
    grid-column: 2 / span 6;
    justify-content: start;
    align-items: center;
}

.book .status {
    /* border: 1px solid forestgreen; */
    grid-column: 8 / span 6;
    justify-content: end;
    align-items: center;
}
